.nav-tabs{
    background-color: var(--lighter-gray);
}

.nav-item{
    background-color: var(--dark-gray);
    --bs-nav-link-padding-y: 1vh !important;
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: white !important;
    --bs-nav-tabs-link-active-color: var(--main-red);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

/* MOBILE */
@media (max-width: 345px){
    .tab{
        padding: 1vh 0;
    }
}
@media (max-width: 576px) {
    .nav-item{
        width: 33.33%;
        font-size: 1rem;
    }
}

/* MEDIUM SIZES */
@media (min-width: 576px) and  (max-width: 992px){
    .nav-item{
        width: 25%;
        margin-right: 2vh;
        font-size: 1.3rem;
    }
}
/* LARGE SIZES */
@media (min-width: 992px) and  (max-width: 1200px){
    .nav-item{
        width: 20%;
        margin-right: 2vh;
        font-size: 1.5rem;

    }
}
/* EXTRA LARGE SIZES */
@media (min-width: 1200px){
    .nav-item{
        width: 15%;
        margin-right: 1.5vh;
        font-size: 1.5rem;

    }
}