:root{
    --main-black: #343232;
    --dark-gray: #A09F9F;
    --lighter-gray: #DBDBDB;
    --sky-blue: #8AD3ED;
    --dark-blue: #087BBF;
    --main-red: #DD3F3F;
    --peach-red: #d76767;
    font-size: 10px !important;
}


@media (max-width: 426px) {
    .solicitacao-card{
        width: 90% !important;
    }
    .lista-container{
        width: 85% !important;
    }  
}
@media (min-width: 426px) and (max-width: 769px) {
    
    .solicitacao-card{
        width: 70% !important;
    }
    .lista-container{
        width: 65% !important;
    }   
}

@media (max-width: 769px){
    .lista-container{
        height: 60% ;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    .solicitacao-card, .lista-container{
        width: 60% !important;
    }
    .lista-container{
        height: 75%;
    }   
}
@media (max-width: 992px) {
    .button-row{
        width: 50%;
    }
    .btn-container{
        display: inline-flex;
        justify-content: center;
        margin: 2vh 0 5vh;
        column-gap: 2vh !important;
    }
    .tab-btn{
        width: 90%;
        margin-right: 1vh !important;
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .tab-btn{
        width: 85%;
        font-size: 1.7rem;
    }
    .btn-container{
        position: relative;
        margin-top: 30vh;
    }
    .button-row{
        margin-bottom: 3vh;
    }   
    .lista-container{
        height: 65%;
        margin-top: 10vh !important;
    } 
}
@media (min-width: 992px) and (max-width: 1300px){
    .solicitacao-card{
        width: 80% !important;
    }
    .lista-container{
        width: 80%;
    } 
}
@media (min-width: 1300px){
    .solicitacao-card{
        width: 80% !important;
    }
    .lista-container{
        width: 60%;
    } 
}
@media (min-width: 1200px){
    .solicitacao-card{
        width: 65% !important;
    }
}

.selected-tab-btn, .selected-tab-btn:active, .selected-tab-btn:hover{
    background-color: var(--sky-blue) !important;
    color: white !important;
    border-color: var(--dark-blue) !important;
}

.unselected-tab-btn, .unselected-tab-btn:active{
    background-color: var(--lighter-gray) !important;
    color:  #343232b3 !important;
    border-color: var(--main-black) !important;
}
.unselected-tab-btn:hover{
    background-color: white !important;
    color: var(--main-black) !important;
    border-color: var(--main-black) !important;
}


.solic-btn, .solic-btn:hover{
    color: white;
    font-weight: 700;
}
.red-bg{
    background-color: var(--main-red);
}
.green-bg{
    background-color: #68B644;
}
.red-bg:hover{
    background-color: var(--peach-red);
}
.green-bg:hover{
    background-color: #68b644a8;
}
.lista-container{
    box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.284);
    border-radius: 3vh;
    overflow-y: scroll;
}
.lista-container::-webkit-scrollbar{
    display: none;
}
body{
    overflow-y: hidden;
}
.solicitacao-card{
    padding: 1vh 0 !important;
}
.tab-btn{
    padding: 1vh 0;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
}